{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          <tbody>
          <thead>
              <tr>
                <th scope="col">Cafe name</th>
                <th scope="col">Location</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Coffee</th>
                <th scope="col">Wifi</th>
                <th scope="col">Power</th>
              </tr>
          </thead>
          {% for item in cafes[1:] %}

              <tr>
                <td>{{ item[0] }}</td> <!-- Cafe name-->
                <td><a href="{{ item[1] }}" target="_blank">Maps Link</a></td> <!-- Location-->
                <td>{{ item[2] }}</td> <!-- Opening time -->
                <td>{{ item[3] }}</td> <!-- Closing time -->
                <td>{{ item[4] }}</td> <!-- Coffee rating -->
                <td>{{ item[5] }}</td> <!-- Wifi rating -->
                <td>{{ item[6] }}</td> <!-- Power rating -->
              </tr>


          {% endfor %}

            </tbody>



  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
